@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("customer"))
{
    <h1>Hello Customer!</h1>
    <h3>@Html.ActionLink("Request service", "ServiceRequest", "Home", routeValues: null, htmlAttributes: new { })</h3>
}
else if ((User.Identity.IsAuthenticated && User.IsInRole("company_agent")))
{
    <h1>Hello Company Agent!</h1>
    <h3>@Html.ActionLink("Manage services", "ShowOffers", "Home", routeValues: null, htmlAttributes: new { })</h3>
}
else
{
    <h1>Hello!</h1>
    <h3>To use our web site you need to register.</h3>
}