@using SR.Data;
@model List<Company>
@{
    ViewBag.Title = "Result";
}

<h2>Available companies</h2>

<div>
    <table class="mainTables table-bordered table-striped">
        <tr>
            <th colspan="2"><p>Companies list</p></th>
        </tr>
        @foreach (var i1 in Model)
        {
            <tr>
                <td><p>@i1.Name</p></td>
                <td><p>@i1.Adress</p></td>
                <td><p>Phone Number:@i1.PhoneNumber</p></td>
                <td><p><a class="btn-default" href="/Home/ShowExecutors/@i1.Id">Show executors</a></p></td>
            </tr>
        }
    </table>
</div>