@using BAL.Models;
@model IEnumerable<Category>
@{
    ViewBag.Title = "ServiceRequest";
}

<h2>Choose category</h2>

<div>
    <table class="mainTables table-bordered table-striped">
        <tr>
            <th colspan="2"><p>Categories list</p></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:auto"><p>@item.Name</p></td>
                <td><p><a class="btn-default" href="/Home/ChooseCategory/@item.Id">Choose category</a></p></td>
            </tr>
        }
    </table>
</div>